canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}
.card.thinking {
  animation: thinking 1s linear infinite;
}

form:focus-within {
  border-color: rgba(66, 142, 235, 0.933);
  /* box-shadow: 0 0 10px #0ffd; */
}

.responses {
  width: 0px;
  height: 0;
  transition: height 800ms ease-in-out, opacity 500ms ease-in-out 200ms;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  overflow: auto;
}

@media (prefers-reduced-motion: reduce) {
  .responses {
    transition: none;
  }
}

.responses.visible {
  opacity: 1;
}

.meaning {
  padding: 16px 0;
  border-bottom: 1px solid #0001;
  &:last-child {
    border-bottom: none;
  }
}

.meaning-title {
  margin: 0;
}

.meaning-explanation {
  margin: 0;
}

.meaning-content {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.meaning-feedback {
  display: flex;
}

.meaning-explanation-container {
  flex: 1;
}
.feedback-button {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid rgba(66, 142, 235, 0.2533);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  color: #ccc;
  .meaning:hover & {
    background-color: rgba(66, 142, 235, 0.2533);
    color: #333;

    &:hover {
      background-color: rgba(66, 142, 235, 0.533);
      transition-duration: 0.05s;
    }
    &:active {
      color: #ccc;
    }
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.feedback-button:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-right: 1px solid #0001;
}
.feedback-button:last-child {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-left: 1px solid #fff4;
}

@keyframes thinking {
  0% {
    border-color: #fffd;
    box-shadow: 0 0 10px #0ffd;
  }
  50% {
    border-color: #0ffd;
    box-shadow: 0 0 2px #0ffd;
  }
  100% {
    border-color: #fffd;
    box-shadow: 0 0 10px #0ffd;
  }
}

.info-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.info-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.info-dialog {
  border-radius: 16px;
  border-color: #0ffd;
  color: #333;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
